* {
	box-sizing: border-box; 
	/*ensures that saying width 600 in wrapper is not 640 with the padding added */
}

body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	background-image: url("../images/whirlpool.png");
	margin: 0;
}

h1{
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}


#head{
	height: 86px;
	background-color: #ffffff;
}

header {
	width: 960px;
	height: 86px;
	margin: 0 auto;

}

#name {
	width: 300px;
	/*height: 80px; */
	padding: 28px;
	text-align: center;
	color: #ffffff;
	background-color: #4aaaa5;

	float: left;
}

nav {
	float: right;
	padding: 33px 0 0;
	word-spacing: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

#headline {
	clear: both;
	margin: 0  0 35px;
    border: #cccccc solid 1px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

#main {
	width: 650px;
	float: left;
	border: solid #dddddd 1px;
	background-color: #ffffff;
	padding: 20px;

}

#murph {
	float: left;
	padding: 10px 20px 0 0;
}

#mainline {
	border: #cccccc solid 1px;
	margin: 20px 0;
}

#page-title {
	color: #4aaaa5;
}

aside {

	float: right;
	height: 180px;
	width: 270px;
	background-color: #ffffff;
	border: solid #dddddd 1px;
	padding: 20px;
	text-align: center;
}

.logo {
	float: left;
	margin: 5px;
}

#sideline {
	border: solid #dddddd 1px;
}

footer {
	margin-top: 33px;
	width: 100%;
	clear: both;
	border-top: #4aaaa5 solid 8px;
	background-color: #666666;
	font-size: 10px;
	text-align: center;
	padding: 36px 0;
	color: #cccccc;
}

.left {
	content: "";
	display: inline-block;	
	position: relative;
	

}

.right {
	content: "";
	display: inline-block;	
	position: relative;
	float: right;
	
	

}

.box {
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	line-height: 0;
	padding: 30px;
	width: 260px;
	position: absolute;
	bottom: 20px;
}

#button {
	height: 45px;
	width: 120px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 18px;
	border: none;

}

h3 {
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
}

input, textarea {
	color: #cccccc;
	padding: 5px;
	width: 610px;
}
/*

Placeholder images can be found at LoremPixel.
Save the images to your images folder.
Social Link Images (Github, LinkedIn, StackOverflow, etc.):
These images can be found on IconFinder.
Save the images to your images folder.
Ensure that these icons are live links to your GitHub, LinkedIn, and Stack Overflow profiles.



*/